body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.option:focus-within {
    background-color: red;
}
.option:active {
    background-color: navy;
}
.option:focus {
    background-color: salmon;
}
.option:target {
    background-color: darkgreen;
}
.option:target {
    background-color: aqua;
}